# Copyright (c) 2021 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_D3KB_LEFT
    def_bool $(shields_list_contains,d3kb_left)

config SHIELD_D3KB_RIGHT
    def_bool $(shields_list_contains,d3kb_right)
